@font-face{
  font-family:PT-Root-UI_Regular;
  src: url(../font/PT_Root_UI/PT-Root-UI_Regular.ttf)
}
@font-face{
  font-family:PT-Root-UI_VF;
  src: url(../font/PT_Root_UI/PT-Root-UI_VF.ttf)
}
@font-face{
  font-family:PT-Root-UI_Medium;
  src: url(../font/PT_Root_UI/PT-Root-UI_Medium.ttf)
}
@font-face{
  font-family:PT-Root-UI_Light;
  src: url(../font/PT_Root_UI/PT-Root-UI_Light.ttf)
}
@font-face{
  font-family:PT-Root-UI_Bold;
  src: url(../font/PT_Root_UI/PT-Root-UI_Bold.ttf)
}
*{
    font-family:PT-Root-UI_Medium;
    background: #F9F9F9;
}
.h1{
    width: 210px;
    height: 48px;
    font-size: 48px;
    margin-left: 12%;
}
main{
    width: 1392px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 18px;
}
.HeadBlocks{
    width: 1200px;
    background: white;
    margin-left: 50px;
}
.HeaderH1{
    font-size: 32px;
    font-family:PT-Root-UI_Bold;
    background: white;
    padding-top: 20px;
    margin-left: 50px;
}
.HeaderBlock{
    width:375px;
    height:224px;
    border-radius: 8px;
    display: inline-block;
    background: #F5F5F5;
    margin-right: 16px;
    overflow: hidden;
}
.photo{
    width: 180px;
    height: 224px;
    float: left;
    font-size: 20px;
    border-radius: 8px 0px 0px 8px;
}
.Head1{
    width: 147px;
    height: 90px;
    margin: 16px 20px;
    float:left;
    background: #F5F5F5;
}
.Head2{
    width: 147px;
    height: 108px;
    margin: 16px 20px;
    float:left;
    background: #F5F5F5;
}
.HeaderH2{
    width: 147px;
    height:64px;
    font-size: 20px;
    background: #F5F5F5;
    font-family:PT-Root-UI_Bold;
    background: #F5F5F5;
    display: block;
}
.HeaderTitle1{
    width: 67px;
    height: 18px;
    font-size:15px;
    color: #616161;
    display: block;
    padding-top: 10px;
    background: #F5F5F5;
}
.HeaderTitle2{
    width: 119px;
    height: 36px;
    font-size:15px;
    color: #616161;
    display: block;
    padding-top: 10px;
    background: #F5F5F5;
}
.HeadPhone1{
    width: 142px;
    height: 16px;
    margin-top: 45px;
    margin-left:20px;
    float: left;
    overflow: hidden;
    background: #F5F5F5;
}
.HeadEmail{
    width: 153px;
    height: 18px;
    margin:10px 20px;
    float: left;
    overflow: hidden;
    background: #F5F5F5;
}
.HeadPhone2{
    width: 142px;
    height: 16px;
    margin-top: 25px;
    margin-left:20px;
    float: left;
    overflow: hidden;
}
.icon{
    width: 16px;
    height: 16px;
    padding:2px;
    float:left;
}
.phone{
    width: 122px;
    height: 16px;
    font-size: 12px;
    float: right;
    background: #F5F5F5;
}
.email{
    width: 133px;
    height: 20px;
    font-size: 12px;
    background: #F5F5F5;
}

.BB{
    margin-left: 50px;
    margin-top: 30px;
    width: 1200px;
    background: white;
}
.Block{
    width: 375px;
    height: 301px;
    display: inline-block;
    margin-right: 18px;
}
.bl1{
    width: 180px;
    height: 301px;
    background: #F5F5F5;
    border-radius: 8px;
    margin-right: 15px;
    float: left;
}
.bl2{
    width: 180px;
    height: 301px;
    background: #F5F5F5;
    border-radius: 8px;
    float: left;
}
.BlockImg{
    width: 180px;
    height: 128px;
}
.NameBlocks{
    width: 147px;
    height: 82px;
    margin-left: auto;
    margin-right: auto;
    background: #F5F5F5;
}
.HHblocks1{
    width: 147px;
    height: 61px;
    font-size: 18px;
    background: #F5F5F5;
    font-family:PT-Root-UI_Bold;
}
.HHblocks2{
    width: 68px;
    height: 17px;
    font-size: 18px;
    font-size:14px;
    color: #616161;
    background: #F5F5F5;
}
.NumBlock{
    width: 133px;
    height: 34px;
    font-size: 14px;
    margin-left: 18px;
    margin-top: 30px;
    background: #F5F5F5;
}
.BlockNum{
    width: 133px;
    height: 16px;
    font-size: 14px;
    background: #F5F5F5;
}
.ImgMapp{
    width: 1157px;
    height: 417px;
    margin-left: 50px;
    margin-bottom: 50px;
}
