body{
    width:100%;
    height: 90vh;
    background: url(../../../../img/background.png);
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center;
}
.headerr{
    background-color: bisque;
}
.navv{
    background-color: rgb(235, 206, 174);
}
.content{
    background-color: bisque;
}
.sectionn{
    background-color: blanchedalmond;
}
.articlee{
    background-color: rgb(250, 217, 177);
}
.sidebar{
    background-color: bisque;
}
.footerr{
    background-color: bisque;
}
body{
    background-color: rgb(248, 210, 179);
    font-family: Arial, Helvetica, sans-serif;
}
