
.wraper{
    width: 60%;
    margin-top: 50px;
    margin-left: auto;margin-right: auto;
    height: 0 auto;
}
main{
    border:1px solid orange;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
}
main ul{
    background: orange;
}
main li,main li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
}
main li a:hover{
    background: white;
    color: black;
}
main h2{
    color: #9b6100;;
    text-align: center;
}
main p{
    text-indent: 50px;
    line-height: 33px;
    text-align: justify;
    color: #9b6100;
    margin: 0;
    font-size: 17px;
    padding: 0 10px;
}
main h1,h2{
    color: #9b6100;
    text-align: centers;
}
main p a{
    font-weight: bold;
    color: #9b6100;
}
footer nav{
    text-align: center;
    margin:20px 0;
}
footer li a{
    color:#9b6100;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0 13px;
}
footer li a:hover{
    text-decoration: underline;
    color: #000;
}