/* ШРИФТЫ */
@font-face{
  font-family:Montserrat;
  src: url(../font/Montserrat/Montserrat-Light.ttf);
}
@font-face{
  font-family:MontserratB;
  src: url(../font/Montserrat/Montserrat-Bold.ttf);
}
@font-face{
  font-family:MontserratAlt;
  src: url(../font/MontserratAlternates/MontserratAlternates-Black.ttf);
}
@font-face {
  font-family:MontserratM;
  src: url(../font/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family:MontserratR;
  src: url(../font/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: SouthGhetto;
    src: url(../font/SouthGhetto/ofont.ru_SouthGhetto.ttf);
}
@font-face{
  font-family: Unbounded;
  src: url(../font/Unbounded/ofont.ru_Unbounded.ttf);
}
/* ОБЩИЕ СТИЛИ */
body{
  user-select: none;
  display:flex;
  justify-content: center;
  align-items:center;min-height: 150vh;
  background-image: url(../img/background.png);
  background-repeat:no-repeat;
  background-size:cover; 
  background-position: center;
  font-family:MontserratB;
}
/* РАЗМЕТКА ШАПИКИ */
header{
  position: absolute;
  top:0;
  width:100%;
  height: 39%;
  background: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left:0px;
  color: white;
  z-index: 10;
  overflow:hidden;
}
/* РАЗМЕТКА КНОПОК НА ШАПКЕ */
.heading{
  height: 60px;
  display: flex;
  justify-content:space-between ;
  font-family:MontserratB ;
  padding: 15px 25px 0px 25px;
}
/* ССЫЛКИ */
.navigation{
  width:880px;
  height: 50px;
}
.navigation a{
  height: 50px;
  text-decoration: none;
  color: white;
  font-size:27px;
  margin-left:15px;
  text-shadow:0px 4px 15px black;
}
/* АКТИВНАЯ СТРАНИЦА */
#mw{
  text-shadow: 0px 0px 20px red;
  box-shadow: 0px 0px 15px rgb(221, 125, 125) ;
  border: 0.1px solid white;
  padding: 0px 7px 0px 7px;
  border-radius: 10px;
}
/*КНОПКИ ЛОГИН/РЕГИСТРАЦИЯ*/
.navlog{
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0px;
  background: linear-gradient(160deg, rgba(0, 0, 0, .3), rgba(255, 255, 255, .5));
  /* box-shadow:inset 0 0 15px rgba(0, 0, 0, .6); */
}
.navlog button{
  border: none;
  background: transparent;
  color: white;
  font-size:25px;
  font-family:MontserratB ;
  text-shadow:0px 4px 15px black;
}
.navlog button:hover{
  cursor: pointer;
}
/* СТИЛЬ МОДАЛЬНОГО ОКНА */
[popover]{
  width:400px;
  height:655px;
  border-radius: 20px;
  border: 1px solid white;
  background: blur;
  background: transparent;
  backdrop-filter: blur(8px);
  color: white;
}
/* ЗАГОЛОВКИ */
#login h1{
  text-align: center;
}
#register h1{
  text-align: center;
}
/* ПОЛЕ ВВОДА */
.input-box{
  position: relative;
  width:100% ;
  height:50px;
  border-bottom: 2px solid #ffffff;
  margin:30px 0;
}
/* СТИЛЬ ПОЛЕЙ ВВОДА */
.input-box input{
  width:100%;
  height: 100%;
  background: transparent;
  border:none;
  outline: none;
  font-size: 1em;
  color:#212121;
  font-weight: 600;
}
/* ТЕКСТ ПОЛЕЙ ВВОДА */
.input-box label{
  position: absolute;
  top:50%;
  left:5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
  color:#ffffff
}
/* АНИМАЦИЯ ТЕКСТА ПОЛЕЙ ВВОДА */
.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}
/* РАЗМЕТКА ЧЕКБОКСА */
.remember-forgot{
  font-size: .9em;
  color:#f0f0f0;
  font-weight: 500;
  margin:-15px 0 15px;
  display: flex;
  justify-content: space-between;
}
/* СТИЛИ ССЫЛОК */
.remember-forgot a{
  color:#ffffff;
  text-decoration:none;
}
.remember-forgot a:hover{
  text-decoration: underline;
}
/* КНОПКА ЗАРЕГИСТРИРОВАТСЯ/ВОЙТИ */
.btn{
  width:100%;
  height:45px;
  border:none;
  border-radius:6px;
  cursor: pointer;
  font-size: 1em;
  background-color: #212121;
  color:#fff;
  font-weight: 500;
  font-family: MontserratB;
}
.btn:hover{
  background-color: white;
  color: #212121;
}
/* СТИЛЬ ССЫЛКИ НА ДРУГУЮ МОДАЛКУ */
.login-register{
  font-size: .9em;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  margin: 25px;
}
.login-register p a {
  color:#ffffff;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover{
  text-decoration: underline;
}

/* ЗАГОЛВОК САЙТА */
.webname{
  position: relative;
  top: 60%;
  padding-left: 15px;
  font-size: 16px;
  font-family: Unbounded;
}
/* РАЗМЕТКА ОСНОВНАЯ ЧАСТЬ */
main{
  position: absolute;
  top:38%;
  width:100%;
  height: 110%;
  z-index:0;
  color: white;
}
/* РАЗМЕТКА ДЛЯ ЗАГОЛОВКОВ */
.hh{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  color: white;
}
/* НАЗВАНИЕ СТРАНИЦЫ */
.startblock{
    width:auto;
    color: white;
    font-family:SouthGhetto;
    letter-spacing:2.6px;
    font-size:45px;
    border:0.1px solid white;
    padding: 10px 20px 0px 20px;
    border-radius:10px;
    margin-top:50px;
    z-index: 8;
}
/* ФОТОГРАФИИ */
.photo{
  width:170px;
  height:170px;
  float:left;
  border:8px solid rgba(213,151,80,0.4);
  border-radius: 20px;
}
/* НАЗВАНИЕ НАВЫКА/КУРСА */
.namenav{
  font-family: MontserratM;
  font-size:30px;
  float: left;
  margin-top: 20px;
  margin-left:15px;
}
/* ОПИСАННИЕ НАВЫКА/КУРСА */
.opisanie{
  font-family:MontserratR;
  font-size:20px;
  float: left;
  margin-left:15px;
}
/* БЛОК НАВЫКОВ И КУРСОВ */
.navkur{
  background: rgba(255, 255, 255, 0.01);
  width: 1300px;
  height:700px;
  border-radius: 20px;
  backdrop-filter: blur(8px);
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  border-left: 1px solid white;
  margin-left: auto; margin-right: auto;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5),inset 0 0 15px rgba(255, 255, 255, 0.5);
  align-items: center;
  display:grid;
  grid-template-columns: 1fr 1fr ;
}
/* ЗАГОЛОВОК */
.hh1{
  height:60px;
  color:white;
  font-family:MontserratB;
  font-size:42px;
  margin-bottom: 40px;
  grid-column: 1/-1;
  justify-items: center;
  place-self: center
}
.hh2{
  height:60px;
  color:white;
  font-family:MontserratB;
  font-size:42px;
  margin-bottom: 40px;
    grid-column: 1/-1;
  place-self: center
}
/* НАВЫК и КУРС */
.navikikursi{
  width:500px;
  height:216px;
  margin-left:50px;
  color: black;
}
/* РАЗМЕТКА ФУТЕРА */
footer{
  position: absolute;
  width: 100%;
  height:5%;
  top:147%;
  background-image: url(../img/ft2.jpg);
  /* background: rgba(139, 55, 35, .9); */
  background-repeat:no-repeat;
  background-size:cover; 
  z-index: 10;
}
/* САЙТ РАЗРАБОТАН */
.ft1{
  margin-left: 20px;
  vertical-align: center;
  font-family: Unbounded;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
  vertical-align:-10px;
}
/* РАЗМЕТКА НОВОСТЕЙ */
.newss{
  width: 1100px;
  color: white;
  margin-left: auto; margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:50px ;
}
.news1{
  width:500px;
  height: 200px;
  border: 2px solid white;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5),inset 0 0 15px rgba(255, 255, 255, 0.5);
  font-size: 17px;
  border-radius: 30px;
  padding: 30px;
  text-align: left;
}
.news1 a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.news1 h3,p {
  margin-left: 200px;
}
/* ЛИЧНЫЙ КАБИНЕТ */
.personality{
  width: 1200px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border:2px solid white;
  border-radius:10px ;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5),inset 0 0 15px rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: 0.7fr 1.5fr 0.7fr;
  grid-template-rows: 180px 1fr;
  gap: 10px;
}
.photoperson{
  grid-row: 1/-1;
  text-align: center;
}
.photoperson img{
  width: 240px;
  height: 350px;
  margin-top: 70px;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px red;
}
.persona2{
  grid-column: 2;
  grid-row: 1;
  padding-top: 40px;
}
.persona2 img{
  width: 95px;
  height: 100px;
  border:2px solid white;
  border-radius: 15px;
  float: left;
}
.persona2 span{
  font-size: 1.8em;
  position: relative;
  top: 30px;
  left:30px
}
.persona3{
  grid-column: 2;
  grid-row: 2;
}
.persona3 p{
  width: 100%;
  font-size: 1.2em;
  position: relative;
  right: 200px;
}
/* МОИ РАБОТЫ */
.workkk{
  width: 1000px;
  height: auto;
  background: rgba(255, 255, 255, 0.01);
  border: 2px solid white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5),inset 0 0 15px rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.workspisok{
  padding-left: 20px;
  grid-column: 1;
  font-size: 1.3em;
}
.workspisok li{
  list-style: none;
  padding-bottom: 20px;
}
.workspisok a{
  text-decoration: none;
  color: white;
  transition: .3s;
}
.workspisok a:hover{
  color: #212121;
  background: white;
  padding: 10px;
  border-radius: 10px;
  transition: .3s;
}
.works{
  width:400px;
  height: auto;
  grid-column: 2;
  margin: auto;
  
}
.works img{
  width:400px;
  height: 300px;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  filter: blur(3px);
  transition: .4s;
}
.works img:hover{
  filter: none;
  transform: scale(1.2);
  transition: .4s;
}
